$('.modal-body').html('<%= escape_javascript(render :partial => 'form') %>');
$('.modal-header').html("<h1>Edit Your Profile</h1>");
$('.modal-footer').html("<a class='btn btn-' href='#' data-dismiss='modal'>Close</a>");

