.page-header
  %h1 Bookmarklet


.well
  %p.lead
    Use this bookmarklet to clip content from anywhere on the web and save it to your Sauna dashboard.

  %p.lead
    Drag this to your bookmarks toolbar:
    %a.btn{:href => bookmarklet_link(@dashboard)}
      %i.icon-bookmark
      Send to Sauna!
