.page-header
  %h1 Create a Twitter dashboard

.hero-unit
  %p
    You can create a dashboard automatically from the people you follow on Twitter.

  =link_to 'Do it!', new_twitter_dashboards_path, :method => :post, :class => 'btn btn-large btn-primary', 'data-no-turbolink' => true
