.page-header
  %h1 Create a Facebook dashboard

.hero-unit
  %p
    You can create a dashboard automatically from your Facebook stream

  =link_to 'Do it!', new_fb_dashboards_path, :method => :post, :class => 'btn btn-large btn-primary'