- @body_class = 'landing-page'

#header
  .navbar.navbar-static-top
    .navbar-inner
      .container
        %strong.logo
          %a{:href => "#"} SAUNA

#main.container

  .hero-unit
    %h1
      %strong Youch! Something is quite wrong here.
      This is our error page.

  .callout
    .ico
      %div
        %i.icon-exclamation-sign.icon-large
    %h2
      We can fix this!
    %p
      We've been notified about the error, but you can help by sending us details about what happened.



