- @body_class = 'landing-page'

#header
  .navbar.navbar-static-top
    .navbar-inner
      .container
        %strong.logo
          %a{:href => "#"} SAUNA

#main.container

  .hero-unit
    %h1
      %strong Hey! We're doing a little house cleaning at the moment.
      Sauna will be back shortly.

  .callout
    .ico
      %div
        %i.icon-music.icon-large
    %h2
      Please be patient
    %p Hum a song!


