.messages
  -[:notice, :error, :alert].each do |level|
    -unless flash[level].blank?
      %div{:class => 'alert ' + flash_class(level)}
        %button.close{:type => 'button', 'data-dismiss' => 'alert'}
          \x
        %span.flash-body= flash[level].html_safe
